<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学生报名课程')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>课程名称：</label>
                            <input type="text" name="courseName"/>
                        </li>
                        <li>
                            <label>是否必修：</label>
                            <select name="courseRequired" th:with="type=${@dict.getType('course_required')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:course:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:course:remove')}]];
        var courseRequiredDatas = [[${@dict.getType('course_required')}]];
        var statusDatas = [[${@dict.getType('course_status')}]];
        var prefix = ctx + "system/userCourse";
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                signUpCourseUrl: prefix + "/signUpCourse",
                exportUrl: prefix + "/export",
                modalName: "报名课程",
                columns: [{
                    checkbox: true
                },
                    {
                        field: 'id',
                        title: '参数主键',
                        visible: false
                    },
                    {
                        field: 'userName',
                        title: '学生姓名'
                    },
                    {
                        field: 'courseName',
                        title: '课程名称'
                    },
                    {
                        field: 'courseScore',
                        title: '课程学分'
                    },
                    {
                        field: 'courseRequired',
                        title: '是否必修',
                        formatter: function(value, row, index) {
                            return $.table.selectDictLabel(courseRequiredDatas, value);
                        }
                    },
                    {
                        field: 'teacherName',
                        title: '教师姓名'
                    },
                    {
                        field: 'remark',
                        title: '备注'
                    }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>